@keyframes fun {
    0%  {
        transform: skew(0,0);
    }
    25% {
        transform: skew(5deg,0) scale(1,1.03);
    }
    50% {
        transform: skew(0,0);
    }
    75% {
        transform: skew(-5deg,0) scale(1,1.03);
    }
    100% {
        transform: skew(0,0);
    }
}

.constructor {
    margin: 100px auto;
    max-width: 1170px;
}

.cake {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    animation: fun 1.8s infinite;
    transform-origin: bottom;
    position: relative;
 }

.candles {
    display: flex;
    justify-content: space-around;
}

.candle {
    max-height: 130px;
    object-fit: contain;

}

 .layer {
    width: 100%;
    height: 80px;
    object-fit: cover;
 }

 .crem {
    background-color: rgb(246, 247, 225);
 }
 
 .filling {
    position: relative;
    max-height: 80px;
    object-fit: cover;
 }

 .interlayer {
    max-height: 40px;
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
 }
